*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
    margin-bottom: 15px;
}

header{
    color: #B4EBFF;
    background-color: #20296E;
    padding: 20px;
    width: 100%;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
}

#EN{
    float: right;
    border-left: solid rgb(111, 190, 226);
    padding: 10px 10px 10px 10px;
    background-color: rgb(227, 245, 250);
    color: rgb(34, 34, 148);
}
#EN:hover{
    cursor: pointer;
}

#NL{
    float: right;
    padding: 10px 10px 10px 10px;
    background-color: rgb(227, 245, 250);
    color: rgb(34, 34, 148);
}
#NL:hover{
    cursor: pointer;
}


article{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("img/zee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: #3189D6;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    background-color: #000261;
    border-color: #0066ff;
    border-radius: 5px;
    font-size: 20px;
    color: #5890FF;
    padding: 5px;
    text-decoration: none;

}

.schipimage{
    float: left;
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    width: 300px;
    height: 220px;
}
.schipimagenext{
    float: left;
    display: block;
    margin-left: 2px;
    margin-right: 0%;
    margin-top: 65px;
    border-radius: 10px;
    width: 250px;
    height: 190px;
    opacity: 88%;
}

.schipimageprev{
    float: left;
    display: block;
    margin-left: 0%;
    margin-right: 2px;
    margin-top: 65px;
    border-radius: 10px;
    width: 250px;
    height: 190px;
    opacity: 88%;
}

.ArrowLeft{
    float: left;
    width: 160px;
    height: 160px;
    margin-top: 75px;
    rotate: -90deg;
    margin-left: 20vw;
}
.ArrowLeft:hover{
    cursor: pointer;
}

.ArrowRight{
    float: left;
    width: 160px;
    height: 160px;
    margin-top: 75px;
    rotate: 90deg;
}
.ArrowRight:hover{
    cursor: pointer;
}

.button{
    width: 80px;
    height: 80px;
    background:#222831;
    border: none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom:120px;
    right:120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tijdenprijzen{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(18, 114, 161, 0.77);
    color: #91C0FF;
}

.infotext{
    padding-left: 45%;
    text-align: left;
    margin-bottom: 25px;
    font-size: 20px;
}

.infomuseum{
    background-color: rgba(18, 114, 161, 0.77);
    color: #91C0FF;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom:30px;
}

.infotentoon{
    margin-top: 425px;
    padding-top: 50px;
    padding-bottom: 400px;
    color: #91C0FF;
    background-color: rgba(18, 114, 161, 0.77);;
}
.tentoontitel{
    float: left;
    width: 25%;
    padding-right: 3%;
    padding-left: 3%;
}
.tentoontext{
    text-align: left;
    margin-top: 15px;
    height: 225px;
    float: left;
    width: 25%;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 1px;
}

.reviews{
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 400px;
    color: #91C0FF;
    background-color: rgba(18, 114, 161, 0.77);;
}
.review{
    color: #222831;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: solid;
    border-color: #222831;
    margin-top: 15px;
    float: left;
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1px;
    height: 300px;
}

.text{
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
}
.titel{
    margin-bottom: 10px;
}

.contactinfo{
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

#map{
    margin-bottom: 20px;
}

#mapplek{
    margin-bottom: 120px ;
}

h6{
    color:rgba(255, 1, 1, 0);
}